**Two Sample Hypothesis Tests with Scipy (IH school)**

In [1]:
#http://ironhack.school/courses/course-v1:IRONHACK+DAPT+201906_MAD/courseware/26bdd799b69648c083b612c305cae17b/9dee227c3fd34cdd94674a2643aef397/6?activate_block_id=block-v1%3AIRONHACK%2BDAPT%2B201906_MAD%2Btype%40vertical%2Bblock%408c498edf120c4361b348973fe5d8f0b4

In [24]:
import pandas as pd
from scipy.stats import ttest_rel, ttest_1samp, ttest_ind
import numpy as np

In [13]:
blood = pd.read_csv('/Users/alejandroiborralucas/Desktop/Git-iron/pypelines/blood_pressure.csv')

In [14]:
display(blood.head())

       before       after
0  136.713072   92.432965
1  134.735618  105.022643
2  127.529115   82.242766
3  144.527126   93.607172
4  124.214720  103.212223

In [15]:
ttest_rel(blood.after, blood.before)

Ttest_relResult(statistic=-27.291841767560236, pvalue=7.303035069608042e-48)

In [17]:
ttest_1samp(blood.after - blood.before, 0)

Ttest_1sampResult(statistic=-27.291841767560236, pvalue=7.303035069608042e-48)

sale el mismo valor por el ttest_rel y ttest1samp

*Queremos demostrar que las dos muestras no tienen la misma media pero existe una relacion entre ellas*

In [29]:
#numero de transacciones que se dan en una web
a = np.random.normal(1000, 120, 1000).round()
b = np.random.normal(1100, 120, 500).round()

In [30]:
ttest_ind(a, b)

Ttest_indResult(statistic=-15.655413483658263, pvalue=2.804122201129073e-51)

Existe una diferencia importante de la una a la otra ya que el numero de observaciones es muy diferente y ademas el total de observaciones e smuy bajo para este caso

In [33]:
ab = pd.read_csv('ab_test.csv')

In [35]:
ab.head()

       a      b
0   0.27  13.61
1   6.08  21.53
2  13.74   9.23
3   9.70   5.36
4   7.00  12.90

In [37]:
ttest_ind(a, b)

Ttest_indResult(statistic=-15.655413483658263, pvalue=2.804122201129073e-51)

In [41]:
ttest_ind(ab.a, ab.b, equal_var=False)

Ttest_indResult(statistic=-2.637533181209767, pvalue=0.009776243024828825)

In [38]:
#EN el ttest_ind podemos indicar si la varianza es igual o no. Mejor elegir varianzas diferentes. por defecto asume que es true

In [39]:
ttest_ind(a, b, equal_var = True)

Ttest_indResult(statistic=-15.655413483658263, pvalue=2.804122201129073e-51)

In [40]:
ttest_ind(a, b, equal_var = False)

Ttest_indResult(statistic=-15.792468576045117, pvalue=1.9573540150634654e-50)

**CONTINGENCY TEST CHI SQUARED**

Basandonos en pokemons:
        Tipo agua = True
        Tipo fuego = False
    legendary =(True/False)
    
 Podemos montar una matreiz de contingencia y buscar probabilidades. Buscar en la libreta